<div class="page-title">
  <h1>Choose your ride...</h1>

    <div class="container">
        <div class="search-border">
          <div>
            <%= form_tag campervans_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find your van..."
              %>
            </div>
              &nbsp; &nbsp;

              <div class="submit-tag" style="color:495057" height="calc(1.5em + 1.0rem + 2px)"; >
                <%= submit_tag "Click to Search", class: "btn btn-primary", style:"color: #495057" "calc(1.5em + 1.0rem + 2px)"; %>
                <% end %>
              </div>

          </div>
        </div>
      </div>

</div>


<div class="container">
  <div
  id="map"
  style="width: 2000px;
  height: 1000px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
</div>

  <div class="card-campervan">
  <% @campervans.each do |campervan| %>
    <div class="single-card" style="margin-bottom:10px" "margin-left:10px" "margin-right:10px";>
      <%= link_to campervan_path(campervan), class: "campervan-link" do %>
          <h4 class="card-title"><%= campervan.title %></i></h4>
        <div class ="link-card">
          <img src="<%= cl_image_path campervan.photo.key if campervan.photo.attached? %>" alt="">
        </div>
        <div class="campervan-info">
          <p class="card-description"><%= campervan.description %></p>
        </div>
        <p>Price per day</p>
        <h3 class="card-details">£<%= campervan.price %></h3>
         <% if campervan.user.avatar.attached? %>
          <%= cl_image_tag campervan.user.avatar.key, class: "avatar" %>
        <% end %>
     <% end %>
    </div>

  <% end %>
  </div>
</div>
