  <div class="page-title">
    <h1>Choose your ride...</h1>
  </div>
<div class="container">
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="card-campervan">
  <% @campervans.each do |campervan| %>
    <div class="single-card" style="margin-bottom:10px" "margin-left:10px" "margin-right:10px";>
      <%= link_to campervan_path(campervan), class: "campervan-link" do %>
        <div class ="link-card">
          <img src="<%= cl_image_path campervan.photo.key if campervan.photo.attached? %>" alt="">
        </div>
        <div class="campervan-info">
          <h4 class="card-title"><%= campervan.title %></i></h4>
          <p class="card-description"><%= campervan.description %></p>
        </div>
        <h3 class="card-details">£<%= campervan.price %></h3>
     <% end %>
    </div>
  <% end %>
  </div>
</div>



<!-- <main>
  <section class="cards">
  <div class="card">
    <div class="card__image-container">
      <img src="" alt="">
    </div>
    <div class="card__content">
      <p class="text--medium"></p>
      <p class="card__price text--medium"></p>
      <div class="card__info">
        <p class="text--medium"></p>
      </div>
    </div>
  </div>
</section>
</main>  -->





