  <div class="page-title">
    <h1>Choose your ride...</h1>
    <div class="float-right" style="margin-right:30px">
     <%= form_tag campervans_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find Your Van"
            %>
              <br>
          <%= submit_tag "Click to Search", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>



<div class="container">

  <div
  id="map"
  style="width: 1400px;
  height: 1000px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
</div>

  <div class="card-campervan">
  <% @campervans.each do |campervan| %>
    <div class="single-card" style="margin-bottom:10px" "margin-left:10px" "margin-right:10px";>
      <%= link_to campervan_path(campervan), class: "campervan-link" do %>
          <h4 class="card-title"><%= campervan.title %></i></h4>
        <div class ="link-card">
          <img src="<%= cl_image_path campervan.photo.key if campervan.photo.attached? %>" alt="">
        </div>
        <div class="campervan-info">
          <p class="card-description"><%= campervan.description %></p>
        </div>
        <div class="card-price">
          <p>Price per day</p>
          <h3 >£<%= campervan.price %></h3>
        </div>
         <% if campervan.user.avatar.attached? %>
          <%= cl_image_tag campervan.user.avatar.key, class: "avatar" %>
        <% end %>
     <% end %>
    </div>

  <% end %>
  </div>
</div>

