<img id="campervan-img" src="<%= cl_image_path @campervan.photo.key %>">
<div class="card-trip">
  <div class="card-trip-info">
    <h1><%=@campervan.title %></h1>
    <h4><%= @campervan.description %></p>
    <h4 class="card-trip-pricing">£<%=@campervan.price  %></h2>
    <div class="user-only-buttons">
<!--     CAN WE KEEP THIS BUTTON HERE PERMANENTLY AND DISPLAY REVIEWS IF THEY EXIST ALWAYS? -->
      <div class="review-box">
        <% @bookings.each do |booking| %>
          <% if booking.reviews.any? %>
            <% booking.reviews.each do |review| %>
              <%= review.description %> Rating:  <%= review.rating %>
            <% end %>
          <% else %>
            <%= link_to "Add Review", new_booking_review_path(booking), class: "btn btn-ghost" %>
          <% end %>
        <% end %>
      </div>
      <%= link_to "Edit", edit_campervan_path, class: "btn btn-ghost edit-booking-btn" %>
      <%= link_to "Delete Van", campervan_path(@campervan),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: 'btn btn-ghost'%>
    </div>
  </div>
  <!--     <a class="btn btn-ghost" href="#">Add review</a> -->
  <!-- MAKE WIDER AND HAVE DATES ON A ROW -->
  <div class="booking-form">
    <p>Make a booking</p>
    <div class="simple_form_booking_box">
      <%= simple_form_for [@campervan, @booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: {type: :date, style: 'width: 200px'}%>
      <%= f.input :end_date, as: :string, input_html: {type: :date, style:'width: 200px'}%>
      <%= f.button :submit, "Book Now"  %>
      <% end %>
  </div>
        <%= link_to "add_review", new_campervan_review_path(@campervan.id), class: "btn btn-ghost" %>

<h2>Reviews</h2>
       <ul>
       <% @campervan.reviews.each do | review |%>
         <li>
         <%= review.description%> <%= review.rating %>
         </li>
          <% end %>
       </ul>

  </div>
</div>

