<img id="campervan-img" src="<%= cl_image_path @campervan.photo.key %>">
<div class="card-trip">
  <div class="card-trip-info">
    <h1><%=@campervan.title %></h1>
    <p><%= @campervan.description %></p>
    <h4 class="card-trip-pricing">£<%=@campervan.price  %></h4>
    <div class="user-only-buttons">
<!--     CAN WE KEEP THIS BUTTON HERE PERMANENTLY AND DISPLAY REVIEWS IF THEY EXIST ALWAYS? -->
      <%= link_to "Add Review", new_campervan_review_path(@campervan), class: "btn btn-ghost edit-booking-btn" %>
      <%= link_to "Edit", edit_campervan_path, class: "btn btn-ghost edit-booking-btn" %>
      <%= link_to "Delete Van", campervan_path(@campervan),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: 'btn btn-ghost'%>
    </div>
  </div>

  <div class="booking-review-container">
    <div class="booking-form">
      <h4>Make a booking</h4>
        <%= simple_form_for [@campervan, @booking] do |f| %>
      <div class="simple_form_booking_box">
          <%= f.input :start_date, as: :string, input_html: {type: :date, id: 'start-date', style: 'width: 200px'}%>
<!--           <i class="fas fa-arrow-right"></i> -->
          <%= f.input :end_date, as: :string, input_html: {type: :date, id: 'end-date', style:'width: 200px'}%>
      </div>
        <%= f.button :submit, "Book Now"  %>
      <% end %>
    </div>



    <div class="review-box">
      <h4>Reviews</h4>
      <ul>
        <% if @campervan.reviews.any? do |review| %>
          <% @campervan.reviews.each do |review| %>
            <li><p><%= review.rating %> <i class="fas fa-star"></i><br><%= review.description %><p></li>
          <% end %>
        <% end %>
        <% else %>
          <li><p>No reviews yet.</p></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



