<div class="card-trip">
  <img src="<%= cl_image_path @campervan.photo.key %>">
    <%= link_to "", campervan_path(@campervan),
        method: :delete,
        data: { confirm: "Are you sure?" }, class: 'far fa-trash-alt'%>
  <div class="card-trip-infos">
    <div>
      <%=@campervan.title %>
      <p><%= @campervan.description %></p>
    </div>
    <a class="btn btn-ghost" href="#">Add review</a>
     <%= link_to "Edit", edit_campervan_path, class: "btn btn-ghost" %>
         <h2 class="card-trip-pricing">Price per day:   £<%=@campervan.price  %></h2>
  </div>
    <div class="write-review">
    <% @booking.reviews.each do |review| %>
<ul>
  <li>
     <%= review.description %> Rating:  <%= review.rating %>
    <% end %>
  </li>
</ul>
  </div>
  </div>
  <div class="booking-form">
    <%= simple_form_for [@campervan, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.button :submit, "Book Now"  %>
    <% end %>
  </div>
</div>
