<div class="card-trip">

  <img src="<%= cl_image_path @campervan.photo.key %>">
<h1><%=@campervan.title %></h1>
  <div class="card-trip-infos">
    <div>
      <p><%= @campervan.description %></p>
    </div>
    <!--     <a class="btn btn-ghost" href="#">Add review</a> -->
        <%= link_to "add_review", new_campervan_review_path(@campervan.id), class: "btn btn-ghost" %>

<h2>Reviews</h2>
       <ul>
       <% @campervan.reviews.each do | review |%>
         <li>
         <%= review.description%> <%= review.rating %>
         </li>
          <% end %>
       </ul>


    <%= link_to "Edit", edit_campervan_path, class: "btn btn-ghost" %>
     <%= link_to "", campervan_path(@campervan),
  method: :delete,
  data: { confirm: "Are you sure?" }, class: 'far fa-trash-alt'%>
    <h2 class="card-trip-pricing">Price per day:   £<%=@campervan.price  %></h2>
  </div>

</div>
<div class="booking-form">
  <%= simple_form_for [@campervan, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: {type: :date, style: 'width: 200px'}%>
  <%= f.input :end_date, as: :string, input_html: {type: :date, style:'width: 200px'}%>
  <%= f.button :submit, "Book Now"  %>
  <% end %>
</div>
</div>

