
<br>
<br>
<br>
<h1>My Bookings</h1>
<div class="container">

  <div class="card-campervan">
  <% @bookings.each do |booking| %>
    <div class="single-card" style="margin-bottom:10px" "margin-left:10px" "margin-right:10px";>
        <div class ="link-card">
          <h4 class="card-title"><%= booking.campervan.title %></i></h4>
          <img src="<%= cl_image_path booking.campervan.photo.key if booking.campervan.photo.attached? %>" alt="">
        </div>
        <div class="campervan-info">
        </div>
          <div class="booking-dates">
            <p><strong>Booking Dates</strong></p>
             <p> From:<%= booking.start_date.strftime("%d %m %Y") %> </p>
            <p> Until:<%= booking.end_date.strftime("%d %m %Y") %></p>
          </div>
        <div class="card-price">
           <p>Price per day</p>
             <h3 class="card-details">£<%= booking.campervan.price %></h3>
        </div>
        <%= link_to "Delete Van", user_booking_path(current_user.id, booking),
        method: :delete,
        data: { confirm: "Cancel/Delete Booking?" }, class: 'btn btn-ghost-booking'%>
           <% if booking.campervan.user.avatar.attached? %>
              <%= cl_image_tag booking.campervan.user.avatar.key, class: "avatar" %>


           <% end %>
        </div>

       <% end %>

  </div>
</div>
