<br>
<br>
<br>
<div class="title-booking-page">
  <h1>My Bookings</h1>
</div>
<div class="container-booking-page">
  <div class="card-campervan-booking-page">
    <% @bookings.each do |booking| %>
      <div class="single-card-booking-page" style="margin-bottom:5vh" "margin-left:10vh" "margin-right:10vh";>
        <div class="top-line-booking-card">
          <h2 class="card-title-booking-page"><%= booking.campervan.title %></i></h2>
        </div>
        <div class ="link-card-user-booking">
          <img src="<%= cl_image_path booking.campervan.photo.key if booking.campervan.photo.attached? %>" alt="">
        </div>
        <div class="campervan-info-booking-page">
          <div class="booking-dates">
            <p><strong>Booking Dates</strong></p>
            <p><%= booking.start_date.strftime("%d %m %Y") %> - <%= booking.end_date.strftime("%d %m %Y") %></p>
          </div>
          <div class="bottom-line-booking">
            <%= link_to "Cancel Booking", user_booking_path(current_user.id, booking),
            method: :delete,
            data: { confirm: "Cancel/Delete Booking?" }, class: 'btn btn-ghost-booking cancel-btn'%>
            <% if booking.campervan.user.avatar.attached? %>
              <%= cl_image_tag booking.campervan.user.avatar.key, class: "avatar avatar-booking-page" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
